.bg-magic-grid {
    position: relative;
}

.bg-magic-grid::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #f5f5f5;
    background-image:
        linear-gradient(#092253 4px, transparent 4px),
        linear-gradient(to right, #092253 4px, #f5f5f5 4px);
    background-size: 80px 80px;
    opacity: 0.01;
    box-shadow:
        inset 0 40px 40px #f5f5f5,
        inset 0 -40px 40px #f5f5f5,
        inset 40px 0 40px #f5f5f5,
        inset -40px 0 40px #f5f5f5;
    pointer-events: none;
    z-index: -1000;
}


.hero-shadow::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;

    background:
        /* TOP */
        linear-gradient(to bottom, #f5f5f5 0%, transparent 45%),

        /* BOTTOM */
        linear-gradient(to top, #f5f5f5 0%, transparent 15%),

        /* LEFT */
        linear-gradient(to right, #f5f5f5 0%, transparent 15%),

        /* RIGHT */
        linear-gradient(to left, #f5f5f5 0%, transparent 15%);

    z-index: 0;
}